# Tuples

# Question 10

In [1]:
myt1 = (3,4,5,6,7)

In [2]:
print(myt1)

(3, 4, 5, 6, 7)

In [3]:
type(myt1)

tuple

In [4]:
sum(myt1)

25

In [5]:
min(myt1)

3

In [6]:
max(myt1)

7

# Question 11

In [7]:
myt2 = (4,5,6)

In [8]:
type(myt2)

tuple

In [9]:
myl2 = list(myt2)           # Convert tuple myt2 to a list and store it in myl2

In [10]:
print(myl2)

[4, 5, 6]

In [11]:
myl2.append(7)        # Add the integer 7 to the end of the myl2 list

In [12]:
print(myl2)

[4, 5, 6, 7]

In [13]:
myt2 = tuple(myl2)    # Convert the list 'myl2' into a tuple and assign it to 'myt2'

In [14]:
print(myt2)

(4, 5, 6, 7)

# Sets

# Question 15

In [15]:
set1 = {1, 2, 3, 4, 5}

In [16]:
set2 = {4, 5, 6, 7, 8}

In [17]:
set1.union(set2)           # Combines elements from both set1 and set2 into a new set

{1, 2, 3, 4, 5, 6, 7, 8}

In [18]:
set1.intersection(set2)    # Find common elements between set1 and set2

{4, 5}

In [19]:
set1.difference(set2)        # Returns elements that are in set1 but not in set2

{1, 2, 3}

In [20]:
set1.symmetric_difference(set2)    # Computes the symmetric difference between set1 and set2

{1, 2, 3, 6, 7, 8}

In [21]:
set2.difference(set1)        # Returns elements that are in set 2 but not in set 1

{6, 7, 8}

# PYTHON BASICS

# Question 1

In [22]:
a = 5
b = 10

In [23]:
a, b = b, a

In [24]:
print("a =", a, "b =", b)

a = 10 b = 5

# Question 2

In [25]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
import datetime
current_year = datetime.datetime.now().year
years_to_100 = 100 - age
year_when_100 = current_year + years_to_100
print(f"Hello {name}, you will turn 100 years old in {year_when_100}.")

Enter your name:  Supreet
Enter your age:  78

Hello Supreet, you will turn 100 years old in 2047.

# Question 3

In [26]:
x = 4
if x > 0:
    print("Positive Number")
elif x < 0:
    print("Negative Number")
else:
    print("Zero")

Positive Number

# Question 4

In [27]:
divisible_numbers = []
for num in range(1,51):
    if num%3 == 0 and num%5 == 0:
        divisible_numbers.append(num)
print("Numbers from 1 to 50 divisible by 3 and 5: ")
print(divisible_numbers)

Numbers from 1 to 50 divisible by 3 and 5:
[15, 30, 45]

# Question 5

In [28]:
x = input("Enter a string: ")
if x == x[::-1]:
    print("It's a Palindrome")
else:
    pass

Enter a string:  Noon

# Question 6

In [29]:
# Program to find the second largest number in a list

numbers = [12, 45, 7, 89, 34, 89, 23]   # sample list

unique_numbers = list(set(numbers))         # Remove duplicates

unique_numbers.sort()                       # Sort the list

# Second largest will be at -2 index
if len(unique_numbers) >= 2:
    print("Second Largest Number:", unique_numbers[-2])
else:
    print("List does not have enough unique numbers")

Second Largest Number: 45

# Question 7

In [30]:
divisiblity_test = []
for i in range(1,101):
    if i%2 == 0:
        divisiblity_test.append(i)
print("Even number from 1 to 100")
print(divisiblity_test)

Even number from 1 to 100
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

# Question 8

In [31]:
def sort_list():
    mylist = ["apple", "banana", "orange", "grape", "kiwi", "pineapple"]
    sorted_list = sorted(mylist) 
    return sorted_list

In [32]:
print(sort_list())   #to sort a list in ascending order alphabetically

['apple', 'banana', 'grape', 'kiwi', 'orange', 'pineapple']

In [33]:
mylist1 = sort_list()

In [34]:
print(mylist1)

['apple', 'banana', 'grape', 'kiwi', 'orange', 'pineapple']

In [35]:
x = input("Search a string: ")
found = False 
for item in mylist1:
    if x == item:
        print("Element found")
        found = True
        break
if not found:
    print("Element not found")

Search a string:  kiwi

Element found

# Question 9

In [36]:
def remove_duplicates(input_list):
    unique_list = []
    for item in input_list:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list

In [37]:
my_list = [1, 2, 2, 3, 4, 4, 5, 1]

In [38]:
result = remove_duplicates(my_list)

In [39]:
print(result)

[1, 2, 3, 4, 5]

# Dictionaries

# Question 12

In [40]:
def count_word_frequency(input_string):
   
    words = input_string.lower().split()      # Convert to lowercase and split into words
    word_freq = {}
    
    for word in words:                         # Count the frequency of each word
        if word in word_freq:
            word_freq[word] += 1
        else:
            word_freq[word] = 1
    
    return word_freq

                                                  # Example usage
text = "This is a sample text. This text is used to count word frequency."
result = count_word_frequency(text)

print("Word frequencies:")
for word, freq in result.items():
    print(f"{word}: {freq}")

Word frequencies:
this: 2
is: 2
a: 1
sample: 1
text.: 1
text: 1
used: 1
to: 1
count: 1
word: 1
frequency.: 1

# Question 13

In [41]:
# Nested dictionary with student names and their scores
students = {
    "Rahul": {"Math": 85, "Physics": 78, "Chemistry": 92},
    "Anita": {"Math": 90, "Physics": 88, "Chemistry": 80},
    "Karan": {"Math": 70, "Physics": 95, "Chemistry": 85}
}

highest_score = 0                       # Find student with highest total score
topper = ""

for name, subjects in students.items():
    total = sum(subjects.values())   # add all subject marks
    print(name, "-> Total:", total)
    
    if total > highest_score:
        highest_score = total
        topper = name

print("\nTopper is:", topper, "with total score:", highest_score)

Rahul -> Total: 255
Anita -> Total: 258
Karan -> Total: 250

Topper is: Anita with total score: 258

# Question 14

In [42]:
# Dictionary of employee names and salaries
employees = {
    "Amit": 40000,
    "Rohit": 50000,
    "Priya": 45000,
    "Neha": 55000
}

print("Current Employee Data:", employees)

name = input("\nEnter employee name to update salary: ")      # Take input from user

if name in employees:
    new_salary = int(input("Enter new salary for " + name + ": "))
    employees[name] = new_salary
    print("\nSalary updated successfully!")
else:
    print("\nEmployee not found!")

print("Updated Employee Data:", employees)

Current Employee Data: {'Amit': 40000, 'Rohit': 50000, 'Priya': 45000, 'Neha': 55000}

Enter employee name to update salary:  Rohit
Enter new salary for Rohit:  60000

Salary updated successfully!
Updated Employee Data: {'Amit': 40000, 'Rohit': 60000, 'Priya': 45000, 'Neha': 55000}